body {
    background-color: #000;
    color: #fff;
    font-family: sans-serif;
    margin: 0;
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 320px;
    background-color: #0a0a0a;
    padding: 30px;
    border-right: 1px solid #1a1a1a;
    display: flex;
    flex-direction: column;
}

h1 { font-family: 'Impact'; font-size: 40px; text-align: center; margin-bottom: 40px; }

.menu-item { margin-bottom: 20px; }
label { display: block; color: #888; font-size: 12px; margin-bottom: 8px; }

input[type="text"], input[type="password"], input[type="file"] {
    width: 100%;
    background: #1a1a1a;
    border: 1px solid #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
}

#startBtn {
    margin-top: auto;
    background: #fff;
    color: #000;
    border: none;
    padding: 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
}

.main { flex: 1; padding: 50px; }
.song-item {
    background: #111;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.play-btn { background: #222; border: none; color: #fff; border-radius: 50%; width: 30px; height: 30px; }
